.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
}
.hljs,
.hljs-subst {
    color: #fff;
}
.hljs-emphasis {
    font-style: italic;
}

.hljs-number,
.hljs-attr {
    color: #df3079;
}
.hljs-string {
    color: #00a67d;
}
.hljs-comment {
    color: #868686;
}
.hljs-literal,
.hljs-keyword {
    color: #2d95d3;
}
.hljs-built_in {
    color: #e9950d;
}