:root {
    --swing: 1.03deg;
    --light: transparent;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--font-basic);
}
@media (max-width: 767px) {
    body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.lampa-start {
    width: 100%;
    height: 160px;
    position: sticky;
    margin-top: 80px;
    z-index: 0;
}
@media (max-width: 767px) {
    .lampa-start {
        margin-top: 65px;
    }
}

.lampa-start .beam {
    height: 100vh;
    background-color: hsla(0,0%,0%,0.95);
    mask: conic-gradient(
      from var(--swing) at 50% 4%, 
      #000000 0deg 155deg,
      var(--light) 170deg 190deg,
      #000000 205deg 360deg
      );
   -webkit-mask: conic-gradient(
      from var(--swing) at 50% 4%, 
      #000000 0deg 155deg,
      transparent 170deg 190deg,
      #000000 205deg 360deg
      );
}
  
.lampa-start .lamp {
    width: 80px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform-origin: center 30px;
    transform: translateX(-50%);
    z-index: 10;
}

.lampa-start .block {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.lampa-start-text {
    z-index: 1;
    position: sticky;
    flex: 0 0 100%;
}

.lampa-start-text .text {
    text-align: center;
    font-size: xxx-large;
    font-family: var(--font-basic);
}
@media (max-width: 767px) {
    .lampa-start-text .text {
        font-size: xx-large;
    }
}

.lampa-connect {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.3);
    color: #00ffb5;
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
    border-radius: 1rem;
    justify-content: center;
    width: min-content;
    padding: 10px 50px;
    margin: 10px;
}

.lampa-connect:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.lampa-connect .url {
    text-align: center;
    font-size: x-large;
    font-family: var(--font-basic);
}
@media (max-width: 767px) {
    .lampa-connect .url {
        font-size: medium;
    }
}

.lampa-plugins {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
    border-radius: 1rem;
    justify-content: center;
    padding: 10px 50px;
    margin: 10px;
    width: 100%;
}
@media (max-width: 767px) {
    .lampa-plugins {
        padding: 5px 10px 70px 10px;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: medium;
}
@media (max-width: 767px) {
    table {
        font-size: small;
    }
}

td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.lampa-plugins .text {
    text-align: center;
    font-size: x-large;
    font-family: var(--font-basic);
}
@media (max-width: 767px) {
    .lampa-plugins .text {
        font-size: large;
    }
}

.lampa-plugins .table-container {
    overflow-x: auto;
    max-width: 100%;
}

.lampa-instruction {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
    border-radius: 1rem;
    justify-content: center;
    padding: 10px 50px;
    margin: 10px;
}
@media (max-width: 767px) {
    .lampa-instruction {
        padding: 5px 10px;
    }
}

.lampa-instruction .image {
    width: 100%;
    border-radius: 15px;
}

.lampa-instruction .text {
    text-align: center;
    font-size: x-large;
    font-family: var(--font-basic);
}
@media (max-width: 767px) {
    .lampa-instruction .text {
        font-size: large;
    }
}

.lampa-instruction .step {
    text-align: center;
    font-size: x-large;
    font-family: var(--font-basic);
}
@media (max-width: 767px) {
    .lampa-instruction .step {
        font-size: large;
    }
}