main {
    height: 100vh;
    overflow-y: auto;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    transition: transform 0.3s ease-in-out;
    top: 0;
    position: absolute;
    padding-top: 70px;
    padding-bottom: 70px;
}
@media (max-width: 767px) {
    .container {
        padding-top: 60px;
        padding-bottom: 90px;
    }
}

.project-card {
    position: relative;
    margin: 10px;
    width: 350px;
    height: 470px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
    will-change: transform;
    z-index: 2;
    border-radius: 5px;
}

@media (max-width: 767px) {
    .project-card {
        width: 190px;
        height: 255px;
    }
}

@media (max-width: 390px) {
    .project-card {
        width: 170px;
        height: 227px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    transform: translateZ(30px);
}

.project-card:hover .overlay {
    opacity: 1;
}

@media (max-width: 767px) {
    .project-card:hover .overlay {
        opacity: 0;
    }
}

.project-card.mobcenter .overlay {
    opacity: 1;
}

.project-outline {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.active-project {
    display: none;
}

.overlay-popup {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.popup {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    color: #fff;
    background-color: black;
    position: absolute;
    z-index: 4;
    width: var(--width);
    height: var(--height);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 24px;
    border: 1px solid #fff;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: var(--font-basic);
}

.popup::-webkit-scrollbar {
    display: none;
}

.popup-menu {
    position: fixed;
    z-index: 5;
    bottom: 24px;
    left: 50%;
    display: flex;
    gap: 8px;
    transform: translateX(-50%);
}

@media (max-width: 767px) {
    .popup-menu {
        bottom: 54px;
    }
}

#popup-content h2 {
    font-size: 5rem;
    margin: 0;
    font-weight: 700;
    line-height: 0.7;
}

@media (max-width: 767px) {
    #popup-content h2 {
        font-size: 50px;
    }
}

#popup-content h3 {
    font-size: 24px;
    margin: 0;
    margin-top: 20px;
    font-weight: normal;
}

@media (max-width: 767px) {
    #popup-content h3 {
        font-size: 16px;
    }
}

#popup-content img {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

#popup-content h4 {
    font-size: x-large;
    color: #8a8a8a;
}

#popup-content p {
    font-size: large;
    color: #8a8a8a;
    font-weight: 600;
}

#popup-content ul {
    flex-wrap: wrap;
    list-style: inside;
    font-size: 1em;
    margin: 1em;
    color: #8a8a8a;
}

.filter {
    position: fixed;
    bottom: 24px;
    z-index: 2;
    width: 16em;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 767px) {
    .filter {
        bottom: 55px;
    }
}

.filter .text {
    bottom: 2px;
    left: 12px;
    display: flex;
    width: calc(100% - 40px);
    align-items: center;
    -webkit-mask-image: linear-gradient(90deg, #000, #000 calc(100% - 40px), transparent);
    mask-image: linear-gradient(90deg, #000, #000 calc(100% - 40px), transparent);
}

.filter .arrow {
    right: 0;
    width: 40px;
    height: 100%;
    background: url(/main/img/arrow.svg) no-repeat 50%;
}

.filter-wrap {
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(53, 53, 53, .4);
    margin: 0;
    list-style: none;
    font-feature-settings: "ss02" on;
    font-size: 14px;
    line-height: 18px;
    scrollbar-color: hsla(0, 0%, 100%, .15) transparent;
    position: absolute;
    bottom: calc(100% + 10px);
    width: 100%;
    max-height: 70vh;
    flex-direction: column;
    padding: 4px 0;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 2px;
    outline: none;
    overflow-y: auto;
    font-family: var(--font-basic);
}

.filter-section {
    padding: 3px 8px;
    cursor: pointer;
    transition: .2s;
    transition-property: background-color;
}
.filter-section:hover {
    background: hsla(0, 0%, 100%, .15);
}
@media (max-width: 760px) {
    .filter-section {
        display: flex;
        min-height: 32px;
        align-items: center;
    }
}
